/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

tr{
	margin:0;
	padding:0;
}

.checkboxClass{
	border: none;
}

body {
	background: #F6F6F6;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6E6E6E;
}

input, textarea {
	border:1px solid #808080;
	/*
	border-top-color: #A3A3A3;
	border-left-color: #D6D6D6;
	*/
	font: normal 1em/normal "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6E6E6E;
}

h1, h2, h3 {
	margin-bottom: 1.5em;
	letter-spacing: -0.05em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h1 a, h2, h2 a {
	text-decoration: none;
	color: #414141;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 16px;
	font-weight: normal;
	color: #939292;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 190%;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #346086;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin-right: 20px;
}

img.right {
	float: right;
	margin-right: 20px;
}
.warning{
	display:none;
 	color:#fff; 
 	background:#F33939 url(/SysHospital/images/alertbad_icon.gif) no-repeat;
	padding:3px 7px 6px 26px; 	
}
hr {
	display: none;
}

/*photo colaborador*/
.photo-colaborador{
	background-image:url('/SysHospital/images/people.png');	
	background-repeat: no-repeat;	
}

.menubar{
	background-color:#DBDBDB;
	background-image:url(/SysHospital/images/module-new-hover.png);
	background-position:center center;
	background-repeat:no-repeat;
	float:right;
	padding:19px;
	width:10px;
}
.menubar:hover{
	background-image:url(/SysHospital/images/module-new.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#D1D1D2;
	
}

.menubar_left{
	background-color:#DBDBDB;
	background-image:url(/SysHospital/images/upper-module-new.png);
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	padding:19px;
	width:10px;
}
.menubar_left:hover{
	background-image:url(/SysHospital/images/upper-module-new-hover.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#D1D1D2;
	
}


.assinatura-modulo{
	
}
/* Logo */

#logo {
	background-color:#0C2033;
	height:20px;
	margin:0 auto;
	width:100%;
}
#logo h1, #logo h2 {
	margin: 0;
}

#logo h1 {
	float: left;
	padding-top: 0px;
}

#logo h2 {
	float: right;
	padding-top: 2px;
	font-size: 10px;
	font-weight: normal;
	padding-right:20px;
}

#logo h2, #logo h2 a {
	color: #fff;
}

#logo a {
	text-decoration: none;
}

/* sub-header */
#sub-header {
	width: 960px;
	height:40px;
	margin: 0 auto;
	text-align:center;
	background: #fff url(/SysHospital/images/sub-header3.png) repeat-x;
}
/* end sub-header */


/* Menu */

#menu {
	width: 960px;
	height: 50px;
	margin: 0 auto;
	background: #252E3A url(/SysHospital/images/sub-header.png) repeat-x;
}

#menu ul {
	margin: 0;
	padding: 21px 0 0 30px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0 20px 0 22px;
	background: url(/SysHospital/images/img03.gif) no-repeat left center;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

/* next body */
#next-body{
	 background-image: src("/SysHospital/images/next-body.png");
	 width:960;
	 height:147;
}

/* Search */

#search {
	float: right;
	width: 227px;
}

#search fieldset {
	border: none;
}

#search input {
	float: left;
}

#search #s {
	width: 136px;
	margin-right: 7px;
	padding: 2px 5px;
}

#search #x {
	background: none;
	border: none;
}

/* Banner */

#banner {
	width: 960px;
	margin: 0 auto;
	padding: 0px 0;
	background: url(/SysHospital/images/next-body.png) repeat-x;
	height:67px;
}

/* menu-modulo*/
.menu-modulo-right{
	background-image:url(/SysHospital/images/med-hospital-icon-submodule.png);
	background-repeat: no-repeat;	
	float:right;
	padding:32px;
}

/*
.menu-modulo-right:hover{
	background-image:url(/SysHospital/images/med-hospital-module-hover.png);
	background-repeat: no-repeat;	
	float:right;
	padding:32px;
}
*/
.menu-modulo-left-icon-module{
	background-image:url('/SysHospital/images/med-hospital-icon.png');
	background-repeat: no-repeat;
	background-color: #4A555B;
	float:left;
	
}


.menu-modulo-left-colaborador{
	background-image:url('/SysHospital/images/people.png');
	background-repeat: no-repeat;
	background-color: #4A555B;
	float:left;
	padding:32px;
}
/*
.menu-modulo-left-icon-module:hover{
	background-image:url('/SysHospital/images/med-hospital-icon-hover.png');
	background-repeat: no-repeat;	
	float:left;
	padding:32px;
}
*/

.menu-modulo-left-colaborador:hover{
	background-color: #E6E6E6;
	float:left;
	padding:32px;
}

.menu-modulo-left{
	
	float:left;
	padding-top:31px;
	width:400px;
}
.menu-modulo-left:hover{
	
}

/* Page */

#page {
	background-image:url(/SysHospital/images/body2.png);
	background-repeat: repeat-x;
	width: 900px;
	margin: 0 auto;
	padding: 45px 35px 45px 25px;
	background-color:#E9EBEC;
	
}

/* Content */

#content {
	float: left;
	width: 603px;
	background-color:yellow;
}

.post {
}

.post .title{
	margin: 0;
	padding: 0 20px;
}
.pageTitle{
	color:#414141;
	font-size:36px;
	margin:0;
	padding:0 4px 0 10px;
	margin-bottom: 1.5em;
	letter-spacing: -0.05em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.post .entry {
	padding: 0 20px;	
}

.post .meta {
	height: 47px;
	margin: 20px 0 40px 0;
	padding: 15px 0 0 20px;
	background: url(/SysHospital/images/img07.gif) no-repeat;
	line-height: normal;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 253px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 40px;
	padding: 0 15px 0 20px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #E5E5E5;
}

#sidebar li h2 {
	margin-bottom: 15px;
	font-size: 18px;
}

/* Calendar */

#sidebar #calendar {
	padding: 0;
	background: url(/SysHospital/images/img08.jpg) no-repeat;
}

#calendar caption {
	margin: -20px auto 0 auto;
	text-align: center;
	font-weight: bold;
}

#calendar table {
	margin: 0 auto;
	caption-side: bottom;
}
/*
#calendar thead th {
	width: 31px;
	height: 40px;
	font-weight: bold;
	color: #FFFFFF;
}

#calendar tbody td {
	width: 31px;
	height: 31px;
	text-align: center;
	color: #9E9E9E;
}

#calendar tfoot td {
	padding-top: 20px;
	font-weight: bold;
}
*/
#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	clear: both;
	width: 870px;
	height: 50px;
	margin: 0 auto;
	padding: 35px 45px;
	background: url(/SysHospital/images/body.png) no-repeat;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
}

#footer a {
	color: #B4B4B4;
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}

/* jquery plugin*/
/* simple css-based tooltip */ 
div.tooltip { 
    background-color:#000; 
    border:1px solid #fff; 
    padding:10px 15px; 
    width:200px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:12px; 
 
    /* outline radius for mozilla/firefox only */ 
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}


#myform {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#FFFFFF url(http://static.flowplayer.org/img/global/gradient/h600.png) repeat-x scroll 0 0;
	border:1px outset #CCCCCC;
	margin:20px 0;
	padding:20px;
	width:350px;

}
#demotip { 
    display:none; 
    background:transparent url(/SysHospital/images/black_arrow.png); 
    font-size:12px; 
    height:70px; 
    width:160px; 
    padding:25px; 
    color:#fff;     
}
.modal { 
    background-color:#fff; 
    display:none; 
    width:750px; 
    padding:15px; 
    text-align:left; 
    border:2px solid #333; 
 
    opacity:0.8; 
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -moz-box-shadow: 0 0 50px #ccc; 
    -webkit-box-shadow: 0 0 50px #ccc; 
} 
 
.modal h2 { 
    margin:0px;  
    padding:10px 0 10px 45px; 
    border-bottom:1px solid #333; 
    font-size:20px; 
}
button {

	
}

.buttonnew{
	background:url(/SysHospital/images/med-hospital-icon.png) repeat scroll 0;
	background-repeat: no-repeat;
	padding:26px 28px 36px;
	border:none;
}

.buttonaction{
	background:none;
	border:none;
	color:#fff
}
.buttonaction:hover{
	
	text-decoration: none;	
	background: #316D9D;
}


/* tab acordion css*/
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	background:#FFFFFF url(/SysHospital/images/h150.png) repeat scroll 0;
	height:80px;
	padding:10px 0 6px 167px;
	width:791px;
	border:1px solid #ddd;
	margin: 0% auto;
}

/*  accordion header */
#accordion img {
	float:left;
	margin-right:10px;
	cursor:pointer;
	opacity:0.5;
	filter: alpha(opacity=50);
}

/* currently active header */
#accordion img.current {
	cursor:default;
	opacity:1;
	filter: alpha(opacity=100);
}

/* 
	accordion pane. should initially have zero width and display:none.
	the first pane should override these with inline style
*/
#accordion div {
	width:0px;
	float:left;	
	display:none;		
	margin-right:10px;
}

/* content inside a pane should have fixed width */
#accordion div h3 {
	color:#444;
	margin:0 0 -10px 0;
	width:190px;
	font-size:15px;	
}
	
#accordion div p {	
	font-size:11px;
	width:190px;
}




#content table.listing div.box.code {
	padding-left:0px;
	background-image:none;	
	
}
/*}}}*/


/*{{{ #content box, listing, div.tip  */

#content div.box, table.listing, div.tip {
	border:none;
	background-color:#fff;
	margin:10px 0 15px 0;
	padding:10px;
	width:100%;
	/* outline radius */
	
	
}

#content div.box h2 {
	margin:0px;
	background-color:#c2d0da;
	font-weight:normal;
	font-size:15px;
	line-height:30px;
	padding:0 10px;
	margin:-10px -10px 10px -10px;
}

div.tip {
	background:url(/SysHospital/images/h150.png) repeat-x;
}


/* skins */
#content div.box.dark 									{ background-color:#99a6af; }
#content div.box.dark h2 								{ background-color:#586e7b; }
#content div.box.light 									{ background-color:#f9f9fa; }
#content div.box.light h2 								{ background-color:#d7dde1; }
#content div.box.petrol 								{ background-color:#295c72; }
#content div.box.petrol h2 							{ background-color:#254558; }
#content div.box.petrol.dark, div.tip 				{ background-color:#254558; }
#content div.box.petrol.dark h2, div.tip h2 		{ background-color:#295c72; }
#content div.box.ruby 									{ background-color:#e5e7e9; }
#content div.box.ruby h2 								{ background-color:#b8128f; }
#content div.box.ruby.dark 							{ background-color:#b8128f; }
#content div.box.ruby.dark h2 						{ background-color:#552452; }
#content div.box.black 									{ background-color:#000000; }
#content div.box.black h2 								{ background-color:#3C4752; }

/* box font colors */
div.box.dark, div.box.petrol, div.box.black, div.tip,
div.box.dark h2, div.box.petrol h2, div.box.ruby h2, div.box.black h2,
div.box.dark h3, div.tip h2 {
	margin-top:0px;
	color:#fff;	
}

div.box.dark a, div.box.petrol a, div.box.black a { 
	color:yellow;	
}

div.box.petrol samp {
	color:#95D0DF;		
}

/* mouseover tip */
div.tip {
	width:280px;		
	display:none;
	position:absolute;
	z-index:2;
}

div.tip h3 {
	color:#dee7ec;	
}
/*
th {
	background:#C2D0DA url(/SysHospital/images/h30.png) repeat-x scroll 0 0;
	border-bottom:5px solid #FFFFFF;
	font-size:14px;
	font-weight:normal;
	padding:5px;
	text-align:left;
}
*/
table {
	background-color:#FFFFFF;
	
}
.menu-modulo-left-nome{
	float:left;
	padding-top:7px;
	color:#cacaca;
	font-size:14px;
}

/* expose css */
form.expose {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#FFFFFF url(http://static.flowplayer.org/img/global/gradient/h150.png) repeat-x scroll 0 0;
	border:0px outset #CCCCCC;
	margin:20px 0;
	padding:20px;
	text-align:center;
	width:350px;
	position:relative;
}
#mask { 
    background:#678 url(images/mask_gradient_1000.png) no-repeat; 
    background-position:13% 160px; 
}



/* next css*/
.dataGrid {
	width: 100%;
	
}
.dataGridHeader *  {
	font-weight: normal;
	background:url("/SysHospital/images/bg-thead.png") ;
	background-repeat: repeat-x;
}
.dataGrid TD {
	font-size: 12px;
}
.dataGrid TH {
	font-size: 12px;
	text-align: left;
	padding: 3px;	
	border:none;
	border:none;
}

.dataGrid THEAD * {
	border-botton:none;
	color:#4A555B;
}
a{
	text-decoration:none;
	color:#4A555B;
}

.dataGridBody1{
	background-color:#F7F7F7;
	
	border: none;
}

.dataGrid TBODY TD {
	font-size: 11px;
	padding: 3px;
	border-bottom: 0px;
}

.sectionTitle {
	font-size: 20px;
	margin: 4px;
	margin-top: 8px;
	color: #006699;
	display: none;
}
.order{
	background:none;
}
.pagging{
	text-align:right;
	color: #00699;
}

.inputWindow  {
	margin: 2px;
	border: 1px solid #CCCCCC;
}
.inputWindow * {
	font-size: 11px;
}

.inputTable {
	width:100%
}
.actionBar {
	font-size: 12px;
	text-align: left;
	background-color: #EBF0F8;
	padding: 3px;
	font-size: 11px;
	border-top: 1px solid #CCCCCC;
}


.linkBar{
	font-size: 12px;
	text-align: left;
	background-image: url("/SysHospital/images/top-header-action.png");
	background-repeat: repeat-x;
	padding: 3px;
	font-size: 11px;
	color:#cacaca;
}

.linkBar A {
	color: #fff;
	text-decoration: none;
	padding: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 180px;
	min-width: 120px;
}
.linkBar A:hover {
	color: #fff;
	text-decoration: none;
	padding: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 180px;
	min-width: 120px;
}


.labelColumn {
	color:#535353;
	font-family:Verdana;
	font-size:10px;
	padding-left:3px;
	padding-right:20px;
	padding-top:9px;
	text-align:left;
	text-transform:uppercase;
	white-space:nowrap;
	width:1%;
	font-weight:bold;
	border-bottom:1px solid #EEEEEE;
	border-top:1px solid #F5F5F5;
}
.propertyColumn{
	padding:6px 16px 6px 0;
	border-bottom:1px solid #EEEEEE;
	border-top:1px solid #F5F5F5;
}
.messageblock {
	margin-left: 0;
	margin-right: 60px;
}
.tabPanelLink {
	margin-top:3px;	
	margin-bottom:3px;	
	border-bottom: 1px solid gray;
} 
 
.detailTabSelected {
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	height: 19px;
	line-height: 15px;
	vertical-align: middle;
	border-left: 1px solid #91A7B4;
	border-right: 1px solid #91A7B4;
	border-top: 2px solid orange;
	background-color: #FFFFFF;
	border-bottom: 0px solid gray;
}


.detailTabSelected:active {
	text-decoration: none;
}
.detailTabSelected:hover {
	text-decoration: none;
}


.detailTabUnselected {
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	border-left: 1px solid #91A7B4;
	border-right: 1px solid #91A7B4;
	border-top: 1px solid #91A7B4;
	background-color: #F1F1F1;
	border-bottom: 0px solid red;
}

.detailTabUnselected:hover {
	padding-top: 2px;
	text-decoration: none;
	border-top: 2px solid orange;
	background-color: #F9F8FE;
}
.detailTabUnselected:active {
	text-decoration: none;
}

/**
 * Detalhe
 */
.detailBlock {
	background-color: white;
}

/* Tabs */


#tabPanelClear {
	background-color: white;
	float: right;
	position: relative;
	right: -4px;
	padding: 10px 0px 0px;
}
	
    #tabPanel {
    	position: relative;
    	left: -1px;
    	right: 1px;
    	top: -1px;
    	background-color: white;
    	float:left;
    	width: 100%;
      	font-size:93%;
      	line-height:normal;
      	background:#FFFFFF url("/SysHospital/images/tab-bg.gif") repeat-x bottom;
      }
    #tabPanel ul {
      margin:0;
      padding:0px 0px 0;
      list-style:none;
      }
    #tabPanel li {
      float:left;
      background:url("/SysHospital/images/tab-right-off.gif") no-repeat right top;
      margin:0;
      margin-right: 1px;
      padding:0px;
      }
    #tabPanel a {
      display:block;
      background:url("/SysHospital/images/tab-left-off.gif") no-repeat left top;
      padding:5px 15px 4px;
      }
    #tabPanel #current {
      background-image:url("/SysHospital/mages/tab-right.gif");
      }
    #tabPanel #current a {
      background-image:url("/SysHospital/images/tab-left.gif");
      padding-bottom:5px;
      }
    #tabPanel a:hover {
    	text-decoration: none;
    }
    #tabPanel a:ACTIVE {
    	text-decoration: none;
    }
/* Tabs end */